.profile {
  margin-top: 250px;
  margin-bottom: 170px;
}
.container {
  max-width: 1500px;
  padding: 0 30px;
}
.avatar {
  display: flex;
}
.avatarImg {
  margin-right: 56px;
  width: 200px;
  height: 200px;
}
.avatarTitle {
  margin-bottom: 32px;
}
.profileNews {
  margin-top: 109px;
}
.profileList {
  margin-top: 32px;
  padding: 0;
  list-style-type: none;
}
.profileItem {
  margin-bottom: 30px;
  display: flex;
}
.profileImg {
  margin-right: 24px;
  width: 744px;
  height: 388px;
}
.profileContent {
  display: flex;
}
.profileDate {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #aebec9;
}
.profileBnt {
  padding: 16px;
  background: #1b5bf7;
  border-radius: 8px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: #fff;
  cursor: pointer;
  border: none;
}
