.container {
  max-width: 1500px;
  padding: 0 30px;
}
.header {
  margin-bottom: 64px;
}
.header .nav-item:not(:last-child) {
  margin-right: 40px;
}

.home-header {
  margin-bottom: 30px;
}
.header-top {
  position: fixed;
  width: 100%;
  margin-bottom: 34px;
  padding: 20px 0;
  background: #fafafc;
  top: 0;
  z-index: 100;
}
.header-top__container {
  display: flex;
  align-items: center;
}
.register {
  margin-left: 30px;
  padding: 16px;
  background: #1b5bf7;
  border-radius: 8px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: #fff;
  cursor: pointer;
  border: none;
}
.notification__bell {
  width: 21px;
  height: 26px;
}
.site-logo {
  margin-right: auto;
}
.header-top__notification {
  position: relative;
}
.notification__count {
  position: absolute;
  left: 10px;
  top: -6px;
  padding: 2px 6px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
  background: #f76659;
  border-radius: 50%;
}
.header__nav {
  width: 80%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.header__nav .nav {
  align-items: center;
  justify-content: center;
}

.header__nav .nav-item:not(:last-child) {
  margin-right: 30px;
}

.header__nav .nav-link {
  color: #000;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}
.header__nav .nav-link .active {
  padding: 8px 17px;
}

.auth {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(34, 34, 34, 0.7);
  z-index: 999;
  justify-content: center;
  align-items: center;
}
.auth.visible {
  display: flex;
}
.auth__container {
  position: relative;
  min-width: 546px;
  padding: 60px;
  border-radius: 8px;
  background-color: #fff;
  z-index: 1000;
  text-align: center;
}
.auth__title {
  margin-bottom: 56px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 32px;
  line-height: 24px;
  letter-spacing: -0.006em;
  color: #222222;
}
.auth__form {
  display: flex;
  flex-direction: column;
}
.auth__form .form-control {
  padding: 13px 15px;
  margin-bottom: 24px;
  background: #eef0f2;
  border-radius: 6px;
  border: none;
}
.auth__btn {
  padding: 15px;
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: -0.006em;
  color: #ffffff;
  background: #1b5bf7;
  border-radius: 6px;
}

.auth__close {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
}
.auth__user {
  border: none;
  margin-left: 20px;
  background-color: transparent;
}
.header-top__container .auth__user svg {
  width: 30px;
  height: 30px;
}
.user {
  position: relative;
}
.log-out {
  display: none;
  position: absolute;
  top: 36px;
  right: -15px;
  padding: 5px;
  background: #1b5bf7;
  border-radius: 8px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: #fff;
  cursor: pointer;
  border: none;
}

.auth__user:hover {
  color: #1b5bf7;
}
.auth__user:hover .log-out {
  display: block;
}

.profile {
  position: relative;
}
.profile-user {
  border: none;
  background: transparent;
  margin-left: 30px;
}
.profile-menu {
  position: absolute;
  display: none;
  top: 90px;
  right: -17px;
  padding: 19px;
  list-style: none;
  border: 1px solid;
  background: #ffffff;
  border: 1px solid #f6f8f9;
  box-sizing: border-box;
  box-shadow: 0px 0px 1px rgb(26 32 36 / 32%),
    0px 40px 64px rgb(91 104 113 / 24%);
  border-radius: 6px;
  background-color: #fff;
}

.profile-img {
  width: 56px;
  height: 56px;
}
.profile-item:not(:last-child) {
  margin-bottom: 10px;
}
.profile-item * {
  text-decoration: none;
  font-family: "Inter", sans-serif;
  white-space: nowrap;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.006em;
  color: #222222;
}
.profile-btn {
  padding: 0;
  border: none;
  background-color: transparent;
}
.profile-btn:hover {
  color: #0a58ca;
}
.profile-menu.visible {
  display: block;
}
.arrow-up {
  width: 0;
  height: 0;
  position: absolute;
  top: -14px;
  left: 25px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 13px solid #e9edef94;
}
