.newPost {
  margin-top: 250px;
  margin-bottom: 170px;
}
.container {
  max-width: 1500px;
  padding: 0 30px;
}
.newPostBtn {
  padding: 16px;
  background: #1b5bf7;
  border-radius: 8px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: #fff;
  cursor: pointer;
  border: none;
  align-self: flex-start;
}
.form {
  max-width: 716px;
  display: flex;
  flex-direction: column;
}
